@font-face {
  font-family: "iconfont"; /* Project id 2709304 */
  src: url('iconfont.woff2?t=1631175991665') format('woff2'),
       url('iconfont.woff?t=1631175991665') format('woff'),
       url('iconfont.ttf?t=1631175991665') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e620";
}

.icon-shouji:before {
  content: "\e65d";
}

.icon-huoche_delivergoods:before {
  content: "\e621";
}

.icon-jifen:before {
  content: "\e600";
}

.icon-quanbudingdan:before {
  content: "\e604";
}

.icon-daipingjia20:before {
  content: "\e63d";
}

.icon-wxbdingwei:before {
  content: "\e624";
}

.icon-wodehongbao:before {
  content: "\e657";
}

.icon-daifukuan:before {
  content: "\e628";
}

.icon-dingdandaifukuan:before {
  content: "\e896";
}

.icon-waimai-:before {
  content: "\e606";
}

.icon-shoucang:before {
  content: "\eb26";
}

.icon-shouhoutuikuan:before {
  content: "\e61e";
}

.icon-yonghuxieyi:before {
  content: "\e61d";
}

.icon-liwulipin:before {
  content: "\e617";
}

.icon-Icon-wenti:before {
  content: "\e610";
}

.icon-tuichu:before {
  content: "\e60d";
}

.icon-meituan:before {
  content: "\e8c9";
}

.icon-daishiyong:before {
  content: "\e611";
}

.icon-caidan:before {
  content: "\e612";
}

.icon-jinrujiantou:before {
  content: "\e88e";
}

.icon-iconfontcaidan:before {
  content: "\e60f";
}

.icon-canpinhui-xican:before {
  content: "\e64d";
}

.icon-fish:before {
  content: "\e668";
}

.icon-hotpot:before {
  content: "\e66a";
}

.icon-diwangxiejinkouhaixian:before {
  content: "\e70f";
}

.icon-shaokao:before {
  content: "\e616";
}

.icon-tiandian:before {
  content: "\e61f";
}

.icon-zizhucan:before {
  content: "\e63f";
}

.icon-meishixiaochi:before {
  content: "\e664";
}

.icon-kouhong:before {
  content: "\e65c";
}

.icon-maikefeng:before {
  content: "\e678";
}

.icon-meishi:before {
  content: "\e608";
}

.icon-chazhao:before {
  content: "\e605";
}

.icon-fanhui-:before {
  content: "\e646";
}

.icon-dianying:before {
  content: "\e6c6";
}

.icon-jiudian:before {
  content: "\e627";
}

.icon-ziyuan4:before {
  content: "\e603";
}

.icon-quanbufenlei:before {
  content: "\e602";
}

.icon-tubiaozhizuosvg-10:before {
  content: "\e601";
}

.icon-1_waimai-27:before {
  content: "\f564";
}

.icon-muying:before {
  content: "\f603";
}

.icon-1:before {
  content: "\e619";
}

.icon-wode:before {
  content: "\e699";
}

.icon-shop:before {
  content: "\e65f";
}

.icon-shangpin:before {
  content: "\e60b";
}

